/.project
/.settings
/gogo-persist/.classpath
/gogo-persist/.project
/gogo-persist/.settings
/gogo-persist/target
/gogo-service/.classpath
/gogo-service/.project
/gogo-service/.settings
/gogo-service/target
